.App {
  margin: 0;
  padding: 0;
  display: flex;
  padding: 50px;
}
.boardList{
  height: 80vh;
}
.board{
  background: #ccc;
  border-radius: 2px;
  padding: 10px;
  margin: 0 10px;
  width: 200px;
}

.listItem{
  padding: 2px 5px;
  background: #fff;
  margin: 2px 0;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(9,45,66,.25);
  cursor: grab;
}

.add-task{
  cursor: pointer;
  padding: 5px 0;
}

h3{
  margin: 2px 0;
  font-size: 16px;
}

input{
  padding: 5px;
  margin: 0;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  border-radius: 2px;
}

.addItem{
  padding: 5px 0 2px;
  cursor: pointer;
}
.addItem:hover{
  text-decoration: underline;
}

.addbtn, .cancelbtn {
  margin: 5px 5px 0 0;
  background: #ccc;
  border: 1px solid #333;
  border-radius: 3px;
  padding: 5px;
  cursor: pointer;
}
.addbtn{
  background: green;
  color: #fff;
}